<div class="about">
  <h2>Firebase & AngularFire In Depth</h2>

  <img class="course-image mat-elevation-z10" src="https://angular-university.s3-us-west-1.amazonaws.com/course-images/firebase-course-1.jpg" />

  <button mat-raised-button class="upload-btn" color="primary" (click)="uploadData()">Populate Database</button>

  <button class="mat-raised-button" color="accent" (click)="onReadDoc()">Read Document</button>

  <button class="mat-raised-button" color="accent" (click)="onReadCourseCollection()">Read Course Collection</button>

  <button class="mat-raised-button" color="accent" (click)="onReadLessonCollection()">Read Lesson Collection</button>

  <button class="mat-raised-button" color="accent" (click)="onReadFilterCollection()">Read Filter Collection</button>

  <button class="mat-raised-button" color="accent" (click)="onReadFilterRangeCollection()">Read Filter Range Collection</button>

  <button class="mat-raised-button" color="accent" (click)="onReadCollectionGroup()">Read Collection group</button>

  <button class="mat-raised-button" color="accent" (click)="onReadDocBySnapshortMethod()">Read document by snapshort method</button>

  <button class="mat-raised-button" color="accent" (click)="onReadCourseCollectionBySnapShortMethod()">Read collection by snapshort method</button>

  <button class="mat-raised-button" color="accent" (click)="onReadDocByValueChangesMethod()">Read document by valueChanges method</button>
</div>
